<h2>Create a New Meal</h2>
<hr>
<br>
<form method="POST" action="/meals">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
    <br>
    <br>
    <label>Contents: <textarea name="content" id="content" rows="2" cols="20"></textarea></label>
    <br>
    <br>
    <label for="breakfast">Breakfast</label>
    <input type="radio" name="type" id="breakfast">
    <br>
    <label for="lunch">Lunch</label>
    <input type="radio" name="type" id="lunch">
    <br>
    <label for="dinner">Dinner</label>
    <input type="radio" name="type" id="dinner">
    <br>
    <label for="snack">Snack</label>
    <input type="radio" name="type" id="snack">
    <br>
    <br>
    <input type="submit" value="Submit">

</form>