<head>
    <h2><%= @user.name %>'s Food Log</h2>
    <center>
        <h4>"Part of the secret of success is to eat what you like and let the food fight it out inside" -- Mark Twain</h4>
    </center>
</head>
<br>
<br>
<body>
    <% @foods.each do |f| %> 
            <li>- <a href="/foods/<%= f.id %>"><%= f.name.capitalize %></a></li> <!-- a tag allows for clickable content --> <!-- when the link is clicked it will redirect to the specific meal indicated by the id number in the url-->
    <% end %>
    <br>
    <br>
    <center>
        <button><a href="/foods/new" class="button">Add a New Food</a></button>
        <br>
        <br>
        <button><a href="/logout" class="button">Logout</a></button>
    </center>
</body>

