<head>
    <h2>Add a New Food to Your Journal</h2>
</head>
<br>
<body>
    <form method="POST" action="/foods">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        <br>
        <br>
        <label>Contents: <textarea name="content" id="content" rows="2" cols="20" placeholder="what is in your meal?"></textarea></label>
        <br>
        <br>
        <p>Type:</p> 
            <input type="radio" name="meal" id="breakfast" value="breakfast" checked>
            <label for="breakfast">Breakfast</label>

            <input type="radio" name="meal" id="lunch" value="lunch">
            <label for="lunch">Lunch</label>

            <input type="radio" name="meal" id="dinner" value="dinner">
            <label for="dinner">Dinner</label>

            <input type="radio" name="meal" id="snack" value="snack">
            <label for="snack">Snack</label>
        <br>
        <br>
        <p>Make Again?</p>  
            <input type="radio" name="make_again?" id="yes" value="yes" checked>
            <label for="yes">Yes</label>

            <input type="radio" name="make_again?" id="no" value="no">
            <label for="no">No</label>
        <br>
        <br>
        <input type="submit" value="Submit" id="submit">
        <br>
        <br>
    </form>
    <br>
    <br>
    <center>
        <button><a href="/foods" class ="button">Go Back</a></button>
    </center>
</body>