<body>
    <center>
        <h5>Sorry! This page does not exist (yet).</h5><br>
        <button><a href="/foods"class="button">Go Back</a></button>
        <button><a href="/"class="button">Logout</a></button>
    </center>
</body>
