<head>
    <h1>Welcome to Your Food Journal</h1>
    <center><h5>Keep track of your favorite meals, your best go-to's, and even your questionable
    cooking experiments!</h5></center>
    <br>
    <link rel="stylesheets" type="text/css" href="/main.css" />
    <img src="food-blogging1.png" class ="center">
</head>
<body>
    <br>
    <center><h4>Sign up below! Already have an account? Log in!</h4></center>
    <br>
    <center>
        <button><a href="/signup"class="button">Signup</a></button> 
        <button><a href="/login" class="button">Login</a></button>
    </center>
</body>