<head>
    <h1>Welcome to the Food Journal</h1>
    <h3>Keep track of your favorite meals, experiments & even the messups!</h3>
    <hr><hr>
</head>
<body>
    <br>
    <h4>Sign up below! Already have an account? Sign in!</h4>
    <br><br>
    <p><a href="/signup"><strong>Sign Up</strong></a></p>
    <p><a href="/login"><strong>Login</strong></a></p>
</body>