<head>
    <h1>Welcome to Your Food Journal</h1>
    <h5>Keep track of your favorite meals, 
    food experiments & even the messups!</h5>
    <hr><hr>
</head>
<body>
    <br>
    <h4>Sign up below! Already have an account? Log in!</h4>
    <br><br>
    <p><a href="/signup"><strong>Sign Up</strong></a></p>
    <p><a href="/login"><strong>Login</strong></a></p>
</body>